/* style.css */
body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px 50px;
}

.header,
.intro, 
.footer {
    background-color: #1f2937;
    color: white;

}

.logo {
    height: 100px;
    width: 10%;
    padding: 5px;
    border-radius: 50%;
    
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header ul {
    padding-right:40px;
}

.header a {
    font-size: 18px; 
}


.secondary-intro-text {
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra bold;
}

.intro-image {
    width: 45%;
    height: auto;
}

button {
    background-color: #3882F6;
    padding: 10px 35px;
    border-radius: 10px;
    
}

.link-box {
    background-color: #3882F6;
    display: flex;
    margin: 35px 70px;
    border-radius: 25px;
    padding: 32px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    /* font-style: light italic; */
    /* font-style: light italic; */
    color: 1f2937;
    padding: 50px 250px;
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center; 
}

a {
    text-decoration: none;
    color: white;
}

button a {
    font-size: 20px;
}

.github-button {
    border: 2px solid white;
    height: 50px;
}